header{
    display: inline;
}

body{
    max-width: 960px;
    align-content: center;
}
li{
    float: right;
    width: 100px;
    border-style: solid;
    border-color: #30948d;
    background-color: #30948d;
    margin: 2px;
    padding:3px;
    text-align: center;
}
ul{
    list-style-type: none;
}
h1{
    display: inline-block;
}
img{
    float: left;
}